{% extends "base.html" %}
{% block content %}

    <h3 class="text-darken-4 center-align">Add Slice</h3>

    <div class="row">
        <form class="col s10" method="POST" action="">
            <div class="row">
                <div class="input-field col s10">                 
                    <input type="text" class="validate">
                    <label>Style</label>
                </div>
                <div class="input-field col s10">                 
                    <input type="text" class="validate">
                    <label>Sauce</label>
                </div>
                <div class="input-field col s10">                 
                    <input type="text" class="validate">
                    <label>Cheese</label>
                </div>
                <div class="input-field col s10">                 
                    <input type="text" class="validate">
                    <label>Topping</label>
                </div>
                <div class="input-field col s10">                 
                    <input type="text" class="validate">
                    <label>Name of Restaurant</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}