{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('input') }}">
            <div class="card grey darken-2">
                <div class="card-content white-text">
                    <span class="center-align card-title">Input Special Slice</span>
                <!--  style  -->
                <div class="row">
                    <div class="input-field col s10">
                      <input id="style" name="style" type="text" minlength="3"
                      maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="validate" required>
                      <label for="style">Style</label>
                    </div>
                </div>
                <!--  sauce  -->
                <div class="row">
                    <div class="input-field col s10">
                      <input id="sauce" name="sauce" type="text" minlength="3"
                      maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="validate" required>
                      <label for="sauce">Sauce</label>
                    </div>
                </div>
                <!--  cheese  -->
                <div class="row">
                    <div class="input-field col s10">
                      <input id="cheese" name="cheese" type="text" minlength="3"
                      maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="validate" required>
                      <label for="cheese">Cheese</label>
                    </div>
                </div>
                <!--  topping  -->
                <div class="row">
                    <div class="input-field col s10">
                      <input id="topping" name="topping" type="text" minlength="3"
                      maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="validate">
                      <label for="topping">Topping</label>
                    </div>
                </div>
                <!--  name_of_restaurant  -->
                <div class="row">
                    <div class="input-field col s10">
                      <input id="name_of_restaurant" name="name_of_restaurant" type="text" minlength="3"
                      maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="validate" required>
                      <label for="name_of_restaurant">Name of Restaurant</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large darken-4 text-shadow">
                        Submit</button>
                </div>
            </div>
        </form>
        </div>

  {% endblock %}