{% extends "base.html" %}
{% block content %}

<ul>
  {% for complete_slices in complete_slices %}
  <li>
    <div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ complete_slices.name_of_restaurant }}</span>
              <p>{{ complete_slices.style }} crust</p>
              <p>{{ complete_slices.sauce }} sauce</p>
              <p>{{ complete_slices.cheese }} cheese</p>
              <p>{{ complete_slices.topping }} topping</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
</ul>

{% endblock %}